body{
    margin: 0;
    padding: 0;
}
#info-left {
    position: absolute;
    top: 20px;
    left: 25px;
    user-select: none;
    visibility: hidden;
}
#info-right {
    position: absolute;
    top: 20px;
    right: 25px;
    bottom: 0px;
    left: 0px;
    text-align: right;
    user-select: none;
    visibility: hidden;
}
#game{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto; 
    
}
#bomb-grab-area {
    position: absolute;
    width: 870px; /* Diameter for grab area */
    height: 500px;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto;
    background: rgba(0, 0, 0, 0); /* Semi-transparent for visibility */
    z-index: 10; }

#congratulations {
    position: absolute;
    top: 50%; 
    left: 40%; 
    right: 40%; 
    bottom: 40%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.623);
    color: black;
   visibility: hidden;
    z-index: 11 ;
    }
    #startmenu {
        position: absolute;
        top: 30%; 
        left: 30%; 
        right: 30%; 
        bottom: 30%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.623);
        color: black;
       visibility: visible;
        z-index: 12 ;
        }